body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.8rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f9;
    color: #333;
}

tr:hover {
    background-color: #f1f1f1;
}

.role {
    text-transform: capitalize;
    font-weight: bold;
}

select{
    border-radius: 54px;
    width: 140px;
    height: 35px;
    
    
}

select:hover{
    background-color: #b4b4b4;
}

.edit-btn,
.remove-btn {
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    
}

.edit-btn {
    background-color: #5cb85c;
    color: white;
    margin-right: 8px;
}

.remove-btn {
    background-color: #d9534f;
    color: white;
    margin-right: 8px;
}