*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img1.png) no-repeat;
    background-size: cover ;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 20px 100px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
h2{
    font-size: 2em;
    color: rgb(41, 60, 112);
    
    margin: 20px;
}

.navbar a{
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
    

}



.navbar .loginBtn {
    width: 220px;
    height: 50px;
    background: #07405B;
    padding: 10px;
    border-radius: 44px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 40px;
    transition: .5s;

}

.loginBtn:hover{
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: 500;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 4px;
    transform: scaleX(0);
    transition: transform .5s;
  }
  .navbar a:hover::after{
    transform: scaleX(1);
  }
  
  .navbar a#btn:hover::after{
    transform: scaleX(0);
  }

.container {
    height: 400px;
    min-height: 100vh;
    position: absolute;
    top: 300px;
    left: 20px;
    color: antiquewhite;
    font-weight: bolder;
    font-size: xx-large;
    margin: 20px;
}

.container .rdvBtn{
    width: 390px;
    height: 100px;
    background: #07405B;
    
    border-radius: 55px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 40px;
    transition: .5s; 
}

.rdvBtn:hover{
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: 600;
}