* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 20px 100px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

h2 {
    font-size: 2em;
    color: rgb(41, 60, 112);
    margin: 20px;
}

.navbar a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar .loginBtn {
    width: 130px;
    height: 50px;
    background: #07405B;
    border-radius: 44px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 40px;
    transition: .5s;
}

.loginBtn:hover {
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: 600;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 4px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.navbar a#btn:hover::after {
    transform: scaleX(0);
}

/* Signup Container */
.cont-signup {
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%;
    padding: 40px;
}

/* Signup Form Heading */
.box h2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    text-align: center;
    color: #032433;
    font-size: 2em;
    margin-top: -30px;
}

/* Input Styles */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    height: 100%; /* Smaller height */
    position: relative;
    background: #D9D9D9;
    box-shadow: -6px 7px 9.7px rgba(0, 0, 0, 0.25);
    border-radius: 54px;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    margin-bottom: 20px;
}

/* Submit Button */
.Button button {
    width: 320px;
    height: 45px;
    position: absolute;
    background: #07405B;
    border-radius: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    margin-top: 20px;
    font-size: 1.1em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
    transition: .5s;
    cursor: pointer;
}

.Button button:hover {
    background: #062f47;
}

/* Link to Login */
.box a {
    position: absolute;
    margin-top: 30px;
    color: #07405B;
    font-size: 24px;
    font-family: 'Author Variable', sans-serif;
    font-weight: 494;
    word-wrap: break-word;
    font-size: 1.1em;
}

.txt p {
    margin-top: 80px;
}

.txt a {
    margin-top: 0px;
}

.txt {
    justify-content: space-between;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {  /* This will now apply to the phone input as well */
    width: 100%;
    height: 100%; /* Consistent height */
    position: relative;
    background: #D9D9D9;
    box-shadow: -6px 7px 9.7px rgba(0, 0, 0, 0.25);
    border-radius: 54px;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    margin-bottom: 20px;
}